.container {
    background-color: blue;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.square {
    border: 5px solid aqua;
    border-radius: 50%;
}

.square.sec {
    color: orange;
}